<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.consumer_client"
    tools:ignore="CoarseFineLocation">

    <!-- 인터넷 사용 권한& 장소 권한-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".user.KakaoApplication"
        android:allowBackup="true"
        android:icon="@drawable/kakaotalk_20220324_152807451"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kakaotalk_20220324_152807451"
        android:supportsRtl="true"
        android:theme="@style/Theme.Consumer_client"
        android:usesCleartextTraffic="true"
        >
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity android:name=".user.LoginActivity"/>
        <activity android:name=".tutorial.TutorialActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".address.FindTownActivity"/>
        <activity android:name=".address.PlusAddressActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".md.MdListMainActivity"/>
        <activity android:name=".user.RegisterActivity" />
        <activity android:name=".user.StartActivity" />
        <activity android:name=".farm.FarmActivity" />
        <activity android:name=".store.StoreActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".farm.FarmDetailActivity" />
        <activity android:name=".store.StoreDetailActivity" />
        <activity android:name=".md.JointPurchaseActivity" />
        <activity android:name=".PayActivity" />

        <activity
            android:name=".tutorial.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--Redirect URI: "kakao{NATIVE_APP_KEY}://oauth"-->
                <data
                    android:host="oauth"
                    android:scheme="{카카오앱키}"/>
            </intent-filter>
        </activity>

        <activity android:name=".PopupOrderActivity" android:theme="@style/popupTheme" android:screenOrientation="portrait"></activity>
    </application>
</manifest>