<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gdjang.consumer_client"
    tools:ignore="CoarseFineLocation">

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <!-- 인터넷 사용 권한& 장소 권한-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 백그라운드에서 작용-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 저장소 읽기 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 알림-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.gdjang.consumer_client.user.KakaoApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Consumer_client"
        android:usesCleartextTraffic="true"
        >
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <activity
            android:name="com.gdjang.consumer_client.user.IntegratedLoginActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="@string/kakaolink_host"
                android:scheme="@string/kakao_scheme" />
        </intent-filter>
        </activity>

        <activity android:name="com.gdjang.consumer_client.tutorial.TutorialActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name="com.gdjang.consumer_client.tutorial.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gdjang.consumer_client.address.FindTownActivity"/>
        <activity android:name="com.gdjang.consumer_client.address.PlusAddressActivity"/>
        <activity android:name="com.gdjang.consumer_client.MainActivity"/>
        <activity android:name="com.gdjang.consumer_client.md.MdListMainActivity"/>
        <activity android:name="com.gdjang.consumer_client.user.SignUpActivity"/>
        <activity android:name="com.gdjang.consumer_client.user.StandardLoginActivity"/>
        <activity android:name="com.gdjang.consumer_client.user.AccountInfoActivity"/>
        <activity android:name="com.gdjang.consumer_client.user.StartActivity" />
        <activity android:name="com.gdjang.consumer_client.farm.FarmActivity" />
        <activity android:name="com.gdjang.consumer_client.store.StoreActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.farm.FarmDetailActivity" />
        <activity android:name="com.gdjang.consumer_client.store.StoreDetailActivity" />
        <activity android:name="com.gdjang.consumer_client.md.JointPurchaseActivity" />

        <activity android:name="com.gdjang.consumer_client.order.ToPayActivity" />
        <activity android:name="com.gdjang.consumer_client.order.PaidActivity" />

        <activity android:name="com.gdjang.consumer_client.order.OrderDetailActivity" />
        <activity android:name="com.gdjang.consumer_client.review.ReviewActivity" />
        <activity android:name="com.gdjang.consumer_client.review.ReviewMyDetailActivity" />

        <activity android:name="com.gdjang.consumer_client.cart.CartListActivity" />

        <activity
            android:name="com.gdjang.consumer_client.alarm.Alarm"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--Redirect URI: "kakao{NATIVE_APP_KEY}://oauth"-->
                <data
                    android:host="oauth"
                    android:scheme="{카카오앱키}"/>
            </intent-filter>
        </activity>

        <activity android:name="com.gdjang.consumer_client.shopping_info.ShoppingInfoActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.shopping_info.OrderList" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.shopping_info.ReviewList" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.shopping_info.ShoppingInfo2Activity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.shopping_info.CancelList" android:theme="@style/Theme.Design.NoActionBar"/>

        <activity android:name="com.gdjang.consumer_client.my_town.StoreMap" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.gdjang.consumer_client.alarm.AlarmList" />
        <service android:name="com.gdjang.consumer_client.alarm.FCMService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name="com.gdjang.consumer_client.mypage.AboutGDJActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.mypage.AccountSettingActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.mypage.AboutCompanyActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.mypage.LoginSettingActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.mypage.ChangeActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.notification.NotificationList" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.gdjang.consumer_client.content.ContentDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.gdjang.consumer_client.content.ContentActivity"
            android:exported="true" />

        <activity android:name="com.gdjang.consumer_client.agree.Agree1" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.agree.Agree2" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.agree.Agree3" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.gdjang.consumer_client.agree.Agree4" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


    </application>
</manifest>